<div class="flex flex-col items-center mt-16 h-screen">
  <h1 class="text-3xl mb-9">Please enter the new mileage:</h1>
   <%= render "form", mileage: @mileage %>
  <br>
  <div class="mt-18">
    <%= link_to "Back to mileages", mileages_path %>
  </div>
</div>
