<div class="flex flex-col mt-6 items-center mileage">
  <div>
    <h4 class="text-3xl mb-9">Update mileage:</h4>
    <%= render "form", mileage: @mileage %>
  </div>
  <div class="mt-18">
    <%= link_to "Back to mileages", mileages_path, class: "back" %>
  </div>
</div>
