<h1>Hello, @user</h1>

<div>
  <p>
      Please enter the new Mileage. The current Mileage is: <%= @previous_mileage %> 
  </p>
</div>


<%= render "form", mileage: @mileage %>

<br>

<div>
  <%= link_to "Back to mileages", mileages_path %>
</div>
